.ProseMirror {
  outline: none;
  line-height: 1.5;
}

.ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.ProseMirror h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ProseMirror li {
  display: list-item;
}

.ProseMirror blockquote {
  border-left: 4px solid #ccc;
  margin-left: 0;
  padding-left: 1em;
  color: #666;
}

.ProseMirror pre {
  background-color: #f5f5f5;
  padding: 1em;
  border-radius: 4px;
  font-family: monospace;
}

.ProseMirror code {
  background-color: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-family: monospace;
}
